@using Challenging_Challenges.Resources
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()

        <li>
            <a href="@Url.Action("UserProfile", "Account", new {userName = User.Identity.Name.Replace(' ', '_')})">@Localization.MyProfile</a>
        </li>
        <li>
            <a href="#" onclick="$('#logoutForm').submit()">@Localization.LogOff</a>
        </li>
    }
}
else
{
    <li>@Html.ActionLink(Localization.SignUp, "Register", "Account", null, new {id = "registerLink"})</li>
    <li>@Html.ActionLink(Localization.SignIn, "Login", "Account", null, new {id = "loginLink"})</li>
}