@model PagedList.IPagedList<Challenging_Challenges.Models.Entities.SearchIndex>

@{
    ViewBag.Title = Localization.AvailableChallenges;
}

@Styles.Render("~/Content/challenge-index")

<div id="title">
    <h2>@Localization.AvailableChallenges</h2>
</div>

<br/>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Index", "Challenges", FormMethod.Get, new {@class = "col-lg-9 col-md-12", style = "padding:0"}))
        {
            <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept">@(string.IsNullOrEmpty(Request["Field"]) ? Localization.SearchBy : Request["Field"])</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#Title">@Localization.Title</a>
                        </li>
                        <li>
                            <a href="#Condition">@Localization.Condition</a>
                        </li>
                        <li>
                            <a href="#Difficulty">@Localization.Difficulty</a>
                        </li>
                        <li>
                            <a href="#Section">@Localization.Section</a>
                        </li>
                        <li>
                            <a href="#Language">@Localization.Language</a>
                        </li>
                        <li>
                            <a href="#Tags">@Localization.Tags</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">@Localization.Anything</a>
                        </li>
                    </ul>
                </div>
                <input type="hidden" name="field" value="@Request["Field"]" id="search_param">
                <input type="text" class="form-control" id="tags" name="keyword" value="@Request["Keyword"]" placeholder="@Localization.SearchTerm">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        }
        <div>
            <a href="@Url.Action("Create")" class="button btn btn-primary" style="float: right; margin-left: 10px">@Localization.CreateNew</a>
            @if (!string.IsNullOrEmpty(Request["Keyword"]))
            {
                <a href="@Url.Action("Index")" class="button btn btn-default" style="float: right">@Localization.CancelSearch</a>
            }
        </div>
    </div>
</div>

<br/>
<div id="challenges-list">
    @Html.Partial("_ChallengesIndexList", Model)
</div>

<div class="modal" id="rate-model">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">@Localization.Rating</h4>
            </div>
            <div class="modal-body">
                <p id="rate-result"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery-ajax")
    @Scripts.Render("~/bundles/challenge-index")
    @Scripts.Render("~/bundles/star-rating")
    <script>
        $(".starrr").starrr();
    </script>
}