@using Microsoft.AspNet.Identity
@using Shared.Framework.Resources
@model Business.Challenges.ViewModels.ChallengeFullViewModel

@{
    ViewBag.Title = Model.Title;
    var solver = Model.Solvers.FirstOrDefault(x => x.HasSolved && x.UserId.Equals(User.Identity.GetUserId().ToGuid()));
}

@Styles.Render("~/Content/challenge-solve")

<h2>@Model.Title</h2>
<hr/>
<div class="row">
    <div class="col-md-12 condition">
        <p>@Html.Raw(Model.Condition)</p>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @if (solver == null && ViewBag.IsAuthor == null)
            {
                using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <label class="control-label col-md-2" for="answer">@Localization.YourAnswer</label>
                    <input autocomplete="off" class="form-control" id="answer" name="answer" type="text" value="@if (ViewBag != null)
                                                                                                                {
                                                                                                                    @ViewBag.Answer
                                                                                                                }"/>
                    <div style="padding-top: 10px">
                        <a href="@Url.Action("Index")" class="button btn btn-lg btn-default">@Localization.Back</a>
                        <button type="submit" class="btn btn-success btn-lg" style="float: right">
                            <span class="glyphicon glyphicon-ok"></span> @Localization.Check</button>
                    </div>
                }
            }
            else
            {
                <a href="@Url.Action("Index")" class="button btn btn-lg btn-default">@Localization.Back</a>
                if (ViewBag.IsAuthor != null)
                {
                    <a href="@Url.Action("Delete", "Challenges", new {id = Model.Id})" class="button btn btn-lg btn-primary" style="float: right; margin-left: 10px">@Localization.Delete</a>
                    <a href="@Url.Action("Edit", "Challenges", new {id = Model.Id})" class="button btn btn-lg btn-primary" style="float: right">@Localization.Edit</a>
                }
            }
        </div>
    </div>
</div>

@if (ViewBag.IsSolved != null)
{
    <div class="row">
        <div class="modal fade bs-modal-lg bs-win-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg win-modal">
                <div class="modal-content win-modal-content">
                    <div class="modal-body win-modal-body">
                        @if (ViewBag.IsSolved)
                        {
                            <a href="javascript:$('.bs-modal-lg').modal('toggle');" class="button btn btn-success" style="float: right">@Localization.Return</a>
                            <h1>@Localization.RightEx</h1>
                            <h3>@Localization.AnswerIsRight</h3>
                            <div style="font-size: 25px; text-align: center;">
                                <h2>Feel free to rate the challenge:</h2>
                                <div id="stars-existing rating-@Model.Id" class="starrr" data-rating='@Model.Rating.ToString("#")'></div>
                            </div>
                        }
                        else
                        {
                            <a href="javascript:$('.bs-modal-lg').modal('toggle');" class="button btn btn-danger" style="float: right">@Localization.Return</a>
                            <h1>@Localization.WrongEx</h1>
                            <h3>@Localization.TryAgain</h3>
                            <style>
                                .modal-body { background-color: #a52a2a; }
                            </style>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal" id="rate-model">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">@Localization.Rating</h4>
            </div>
            <div class="modal-body">
                <p id="rate-result"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>@Localization.Comments</h1>
        </div>
        <div class="comments-list">
            @foreach (var comment in Model.Comments)
            {
                <div class="media well well-lg">
                    <div class="media-body">
                        @if (comment.UserName.Equals(User.Identity.Name))
                        {
                            <a href="@Url.Action("DeleteComment", new {commentId = comment.Id, challengeId = Model.Id})" style="float: right">
                                <span class="glyphicon glyphicon-remove"></span></a>
                        }
                        <h4 class="media-heading user_name">
                            <a href="@Url.Action("UserProfile", "Account", new {userName = comment.UserName.Replace(' ', '_')})">@comment.UserName</a>
                        </h4>
                        <h4>@comment.Value</h4>
                    </div>
                </div>
            }
        </div>
        <h3>@Localization.AddComment</h3>
        <div>
            @using (Html.BeginForm("AddComment", "Challenges", new {id = Model.Id}))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <textarea class="form-control textarea" rows="3" name="Message" id="Message" placeholder="@Localization.Message"></textarea>
                </div>
                <button type="submit" class="btn main-btn pull-right">@Localization.SendMessage</button>
            }
        </div>
    </div>
</div>

@section Scripts {
    @if (ViewBag.IsSolved != null)
    {
        @Scripts.Render("~/bundles/star-rating")
        <script>
            $('.bs-modal-lg').modal('toggle');
            $(".starrr").starrr();
        </script>
    }
    @Scripts.Render("~/bundles/challenge-solve");
}