@using System.Globalization
@using Challenging_Challenges.Resources
@using Microsoft.AspNet.Identity
@using Data.Identity.Entities
@model ApplicationUser

@{
    ViewBag.Title = Model.UserName;
}

<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />

<style>
    .input-username {
        font-size: 18px;
        height: 34px;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>
            @if (Model.Id.Equals(User.Identity.GetUserId()))
            {
                <a href="#" id="change-username">@Model.UserName</a>
            }
            else
            {
                @Model.UserName
            }
        </h2>
    </div>

    <div class="row profile panel-body">

        <div class="col-lg-4 col-sm-12">
            <h2>@Localization.About</h2>
            <br />
            <p>
                @if (Model.Id.Equals(User.Identity.GetUserId()))
                {
                    <a href="#" id="change-about">@(string.IsNullOrEmpty(Model.About) ? Localization.ClickToSet : Model.About)</a>
                }
                else
                {
                    @(string.IsNullOrEmpty(Model.About) ? Localization.AboutNotSet : Model.About)
                }
            </p>
            <h2>@Localization.ContactInfo</h2>
            <br />
            <p>@Localization.Email:</p>
            <p>
                @Model.Email @if (!Model.EmailConfirmed)
                {
                    <span class="label label-warning">@Localization.EmailNotConfirmed</span>
                }
            </p>
            <p>
                <a href="@Url.Action("ByUser", "Challenges", new {Model.UserName})">@Localization.PostedChallengesAdj</a>
            </p>
            @if (Model.Id.Equals(User.Identity.GetUserId()))
            {
                <p>
                    <a href="@Url.Action("ChangePassword", "Manage")">@Localization.ChangePassword</a>
                </p>
            }
        </div>

        <div class="col-lg-4 col-sm-12" style="text-align: center">
            <h1>@Localization.UserLevel</h1>
            <input type="text" class="@if (Model.Rating > 100)
                                      {
                                          @:toplevel
                                      }
                                      else
                                      {
                                          @:level
                                      }" value="@Convert.ToInt32(Model.Rating)" />
            <h2>@Localization.SolvedChallengesAdj</h2>
            <input type="text" class="@if (Model.SolvedTasksQuantity > 100)
                                      {
                                          @:topsolved
                                      }
                                      else
                                      {
                                          @:solved
                                      }" value="@Model.SolvedTasksQuantity" />
            <h2>@Localization.PostedChallengesAdj</h2>
            <input type="text" class="@if (Model.PostedTasksQuantity > 100)
                                      {
                                          @:topposted
                                      }
                                      else
                                      {
                                          @:posted
                                      }" value="@Model.PostedTasksQuantity" />
        </div>

        <div class="col-lg-4 col-sm-12">
            <h1>@Localization.Achievements</h1>
            @if (Model.Achievements.Count == 0)
            {
                <p>@Localization.NothingHere</p>
            }
            else
            {
                var resourceSet = Achievements.ResourceManager.GetResourceSet(CultureInfo.CurrentCulture, true, true);
                foreach (var achievement in Model.Achievements)
                {
                    <img style="height: 100px; margin-bottom: 2px" src="~/Content/Achievements/@(achievement.Value).jpg" title="@resourceSet.GetString(achievement.Value)" alt="@resourceSet.GetString(achievement.Value)" />
                }
            }
        </div>
    </div>
</div>
@section Scripts {
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="https://cdn.rawgit.com/aterrien/jQuery-Knob/master/js/jquery.knob.js"></script>
    <script>
        $(".toplevel").knob({
            'fgColor': '#FFD52A',
            'angleOffset': -125,
            'angleArc': 250,
            'readOnly': true,
            'max': 500
        });
        $(".level").knob({
            'angleOffset': -125,
            'angleArc': 250,
            'readOnly': true
        });
        $(".solved, .posted").knob({
            'fgColor': '#66CC66',
            'thickness': '.2',
            'angleOffset': 180,
            'readOnly': true
        });
        $(".topsolved, .topposted").knob({
            'fgColor': '#FFD52A',
            'thickness': '.2',
            'angleOffset': 180,
            'readOnly': true,
            'max': '@(Model.PostedTasksQuantity > 500 ? @Model.PostedTasksQuantity : 500)'
        });
        $.fn.editable.defaults.mode = 'inline';
        $('#change-username').editable({
            pk: 1,
            url: '@Url.Action("ChangeUserName", "Manage")',
            inputclass: 'input-username',
            error: function (response, newValue) {
                if (response.status === 400) {
                    return "@Localization.UserExists";
                } else {
                    return "@Localization.WrongInput";
                }
            }
        });
        $('#change-about').editable({
            pk: 1,
            url: '@Url.Action("SetAbout", "Manage")',
            type: "textarea"
        });
    </script>
}